<div class="container" style="margin: 0%;">
<app-header></app-header>
<mat-grid-list cols="2" rows="2" [style.background]="'skyblue'">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <ngx-spinner></ngx-spinner>
        <div *ngIf="forecast" class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <i [class]="weatherIcon(forecast.icon)"></i>
                        <h3>{{ forecast.time * 1000 | date: 'MMM d'  }}</h3>
                        <p>{{ forecast.summary }}</p>
                    </div>
                    <div class="col-md"  *ngIf="nextEvent">
                        <div>
                        Next Event : {{nextEvent.nextEvent.title}}
                        </div>
                        <div>
                        {{ nextEvent.summary }}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <full-calendar #daycalendar defaultView="timeGridDay" [plugins]="calendarPlugins" [events]="events" deepChangeDetection="true"></full-calendar>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
    <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="events" deepChangeDetection="true"></full-calendar>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<router-outlet></router-outlet>
